.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    height: 72px;
}

.icon-container {
    width: 72px;
    height: 72px;
    background-color: var(--purple);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 20px 20px 0px;
}

.inner {
    position: absolute;
    top: 50%;
    width: 72px;
    height: 36px;
    border-radius: 20px 0;
    background-color: var(--soft-purple);
}

.icon-container svg {
    z-index: 1;
}


.settings {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.bar {
    height: 72px;
    border-right: 1px solid var(--bar);
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* 
=================
MEDIA QUERIES
================= */

@media screen and (min-width: 1024px) {
    .header-container {
        width: 10.06vw;
        height: 100vh;
        flex-direction: column;
    }

    .icon-container, 
    .inner {
        width: 103px;
        height: 103px;
    }

    

    .settings {
        flex-direction: column;
    }


    .bar {
        border-bottom: 1px solid var(--bar);
        width: 10.06vw;
        height: 0;
    }

    .avatar {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1rem;
    }
}