.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    height: 72px;
}

.settings {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bar {
    width: 5px;
    height: 100%;
    color: white;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* 
=================
MEDIA QUERIES
================= */

@media screen and (min-width: 1024px) {
    .header-container {
        width: 6.43vw;
        height: 100vh;
        flex-direction: column;
    }

    .settings {
        flex-direction: column;
    }
    .bar {
        width: 6.43vw;
        height: 1px;
    }
}