<div class="list-container">
    @if((invoices$ | async )?.length === 0) {
        <div class="empty-container">
            <div class="image">
               <img src="../../../assets/illustration-empty.svg" alt="illustration-empty svg">
            </div>
            <div class="text-container">
                <p class="title">There is nothing here</p>
                <p class="text">Create an invoice by clicking the New button and get started</p>
            </div>
        </div>
    }
    @else{
    @for (invoice of (invoices$ | async); track $index) {
    <div class="invoice-item" (click)="navigateToDetails(invoice.id)">
        <div class="container-0">
            <p class="invoice-id"><span>#</span>{{invoice.id}}</p>
            <p class="name">{{invoice.clientName}}</p>
        </div>

        <div class="container-1">
            <div class="container-1-1">
                <p class="date">Due {{invoice.createdAt | date}}</p>
                <p class="amount">{{invoice.total | currency:'GBP'}}</p>
            </div>
            <div class="container-1-2">
                <app-status [invoice]="invoice"/>
                <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg" class="arrow-right">
                    <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd"/>
                </svg>
            </div>
        </div>
    </div>
}
}
</div>
