.main-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.navigate {
    display: flex;
    gap: 1rem;
    font-size: var(--font-size-md);
    font-weight: 600;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 8px;
}

.text {
    font-size: var(--font-size-md);
    color: var(--light-gray-blue);
}

.status {
    width: 6.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: var(--font-size-md);
    font-weight: 600;
}