<div class="main-container" *ngIf="invoice$ | async as invoice">
    <div class="navigate" (click)="goToPrevious()">
        <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.342.886L2.114 5.114l4.228 4.228" stroke="#9277FF" stroke-width="2" fill="none" fill-rule="evenodd"/>
        </svg>
        <p>Go back</p>
    </div>

    <div class="status-container">
        <p class="key">Status</p>
        <app-status [invoice]="invoice"/>
        <app-button class="btns" (deleteClick)="handleButtonClick()"/>
    </div>

    <div class="details-container">
        <div class="details-1">
            <div class="details-id-description">
                <p class="id"><span class="key">#</span>{{invoice.id}}</p>
                <p class="description">{{invoice.description}}</p>
            </div>
            <div class="sender-address">
                <p>{{invoice.senderAddress.street}}
                    <br>
                    {{invoice.senderAddress.city}} <br>
                    {{invoice.senderAddress.postCode}} <br>
                    {{invoice.senderAddress.country}}
                </p>
            </div>
        </div>
        <div class="details-2">
            <div class="details-2-1">
                <div class="due-date-container">
                    <div class="date">
                        <p class="key">Invoice Date</p>
                        <p class="value">{{invoice.createdAt}}</p>
                    </div>

                    <div class="date">
                        <p class="key">Payment Due</p>
                        <p class="value">{{invoice.paymentDue}}</p>
                    </div>
                </div>

                <div class="client-details-container">
                    <p class="key">Bill To</p>
                    <p class="value">{{invoice.clientName}}</p>
                    <div class="sender-address">
                        <p>{{invoice.clientAddress.street}}<br>
                            {{invoice.clientAddress.city}} <br>
                            {{invoice.clientAddress.postCode}} <br>
                            {{invoice.clientAddress.country}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="details-2-2">
                <p class="key">Sent to</p>
                <p class="value">{{invoice.clientEmail}}</p>
            </div>
        </div>


        <div class="total-items-container">
            <div class="items-container">
                <div class="item-header">
                    <p>Item Name</p>
                    <div class="item-header-1">
                        <p>QTY</p>
                        <p>Price</p>
                        <p>Total</p>
                    </div>
                </div>
                @for (item of invoice.items; track $index) {
                    <!-- display this for mobile screen -->
                <div class="item">
                    <div class="item-quantity">
                        <p class="item-name">{{item.name}}</p>
                        <p class="quantity">{{item.quantity}} x {{item.price | currency:'GBP'}}</p>
                    </div>
                    <p class="amount">{{item.quantity * item.price | currency:'GBP'}}</p>
                </div>

                <!-- display for large screens -->
                <div class="item-xl">
                    <p>{{item.name}}</p>

                    <div class="item-xl-1">
                        <p class="quantity">{{item.quantity}}</p>
                        <p class="quantity">{{item.price | currency:'GBP'}}</p>
                        <p class="amount">{{item.quantity * item.price | currency:'GBP'}}</p>
                    </div>
                </div>
            }
            </div>

            <div class="total-container">
                <p class="text">Grand Total</p>
                <p class="grand-total">{{invoice.total | currency:'GBP'}}</p>
            </div>
        </div>
    </div>

    <app-button class="show-mobile" (deleteClick)="handleButtonClick()"/>
    @if (showModal) {
    <div class="delete-container">
        <app-modal [visible]="showModal" (close)="closeModal()"/>
    </div>
}
</div>



