.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5.625rem;
    height: 2.75rem;
    border-radius: 24px;
    background-color: var(--purple);
    border: 1px solid transparent;
}

.oval {
    width: 2rem;
    height: 2rem;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn-text span {
    display: none;
}

/* 
=====================
HOVERING EFFECTS
===================== */
.btn-container:hover {
    cursor: pointer;
    background-color: var(--soft-purple);
}

@media screen and (min-width:768px) {
    .btn-container {
        width: 8rem;
    }
   
    .btn-text span {
        display: flex;
    }
    
}